
body, html { /*Donem estil al body y general*/
    margin: 0px; 
    
    background-color: #252525;
}

.slider{
    background-color: black;
    display: flex;
    
}


  .btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
  }
  .btn-two span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.7s;
    border: 1px solid rgb(100, 100, 100);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.7s;
    border: 1px solid rgb(100, 100, 100);
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }
  
.custom1{
    background-color: orange;
}

.fondo{
    background-color: #252525;
}

.foto{
    background-image: url("../img/in.png");
    background-size: cover;
    height: 300px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

.foto1{
    background-image: url("../img/rec7.png");
    background-size: cover;
    height: 300px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}


.foto2{
    background-image: url("../img/rec8.png");
    background-size: cover;
    height: 300px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}

.icon{
    width: 120px;
    height: 90px;
}

.footer{
    background-color: black;
}

.icc{
  width: 30px;
} 
